.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  height: 15rem;
  padding: 5rem;
  background-color: var(--primary-light);

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: var(--primary-dark);
}

.containerImg img {
  height: auto;
  width: 100%;
  max-width: 20rem;
}

.container p {
  font-size: 1.5rem;
}